     html,body{
      background-color:rgb(53, 51, 51);
      margin:0px;
      box-sizing: border-box;
      padding:0px;
    
      
     }
    .calculator {
      max-width: 400px;
      margin: 0 auto;
      margin-top: 50px;
      background-color: rgba(0, 0, 0, 0.438);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      padding:5px;
    
    }

  h2{
    text-align:center;
    color:white;
    background-color: rgba(26, 22, 22, 0.349);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding:5px;
  }
    label{
      text-align: center;
      color:white;
     
    }
    .form-group{
     
    }
    .form-control{
      margin:5px;
      background-color:rgb(224, 235, 232);
      padding:5px;
    }
   
    input{
      font-size: large;
      border:2px solid black;
      
    }
    #result{
      padding:5px;
      color:antiquewhite;
      font-size: large;
      text-align: center;
    }
    button{
         padding:4px;
       
         color:bisque;
         background-color: rgba(0, 0, 0, 0.438);
         box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
         margin:5px;
    }